@import '../../mixin.scss';
.header{
    .fill-background{
        position: fixed;
        top: 0;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
        height: 100vh;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        &.active{
            opacity: 1;
            visibility: visible;
        }
        &.activeCategory{
            z-index: 999;
            opacity: 1;
            visibility: visible;
        }
    }
}
.header-top{
    .wrap-ct{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999999;
        .header-top-left{
            .item{
                display: inline-block;
                margin-right: 10px;
                padding: 5px 0;
                .bg-radien{
                    background: repeating-linear-gradient(to right, #ff990f 0%, #fe532e 50%, #ff990f 100%);
                    background-size: 200% auto;
                    background-position: 0 100%;
                    animation: gradient 2s infinite;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }
                .btn-h {
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    border-radius: 15px;
                    color: #fff;
                    span{
                        display: block;
                        &.icon-v21{
                            padding-right: 5px;
                            svg{
                                width: 16px;
                                display: block;
                            }
                        }
                    }
                }
                &:hover{
                    .blok-addres{
                        opacity: 1;
                        visibility: visible;
                        pointer-events: unset;
                    }
                    .BoxSupport{
                        opacity: 1;
                        visibility: visible;
                        pointer-events: unset;
                    }
                }
                .blok-addres{
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    &.sub-menu-address{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        z-index: 999999;
                        padding: 16px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
        .header-top-right{
            display: flex;
            align-items: center;
            .icon-theme{
                display: flex;
                margin-right: 15px;
                cursor: pointer;
            }
            .acc{
                .box-user{
                    position: relative;
                    &:hover{
                        .option-user{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    }
                    .wrap-img{
                        position: relative;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50%;
                        border: solid 2px #fff;
                        img{
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .option-user{
                        position: absolute;
                        top: 30px;
                        right: 0;
                        width: 150px;
                        padding: 5px 0;
                        transition: all 0.2s;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(50px);
                        .wrap-op{
                            box-shadow: 0 0 10px 0px #0000007d;
                            border-radius: 5px;
                            overflow: hidden;
                            .link-op{
                                display: block;
                                padding: 3px 5px;
                                &:hover{
                                    background: #2772c3;
                                    p{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.blur-search{
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    height: 100vh;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: none;
    &.active{
        opacity: 1;
        visibility: visible;
        display: block;
    }
}
.box-insearch{
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 99999;
    width: 100%;
    border-radius: 5px;
    height: 163px;
    overflow: auto;
    padding: 15px;
    @include mediaMaxWidth(480px){
        padding: 5px;
    }
    .insearch_item {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.3);
        align-items: center;
        height: 51px;
        .left_img {
            position: relative;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .right_content {
            padding: 0 10px;
            font-size: 12px;
            color: #000;
            width: calc(100% - 45px);
            .content_title {
                word-break: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 15px;
            }
            .content_price {
                display: block;
                font-weight: 600;
                color: red;
            }
        }
    }
}
@keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  //support
  .BoxSupport{
    position: absolute;
    width: 100%;
    z-index: 99999;
    padding: 15px;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .item-row{
        .title-box-support{
            padding: 0px 50px;
            line-height: 40px;
            border-radius: 20px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            background: linear-gradient(45deg, #ff990f, #fe532e);
            text-align: center;
            width: max-content;
            margin: auto;
            color: #fff;
            @include mediaMaxWidth(1440px){
                padding: 0 30px;
                line-height: 33px;
            }
        }
        .item-col-title{
            margin-bottom: 10px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }
        .box-list{
            .icon-link{
                display: flex;
                align-items: center;
                svg{
                    color: #155aa4;
                }
            }
        }
    }
}
//header bot
.headerBot{
    .group-cat{
        &:hover{
            .no-home{
                display: block;
            }
            .wrap-list-category{
                @include mediaMaxWidth(1200px){
                    display: block;
                }
            }
        }
    }
    .buttonCategory{
        display: flex;
        align-items: center;
        width: 100%;
        color: #fff;
        background-color: #fff;
        font-weight: bold;
        height: 37px;
        border-radius: 5px;
        padding-left: 5px;
        font-weight: bold;
        position: relative;
        z-index: 9999;
        @include mediaMaxWidth(1650px){
            height: 34px;
        }
        @include mediaMinWidth(1200px){
            padding-left: 15px;
        }
    }
    .wrap-list-category{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding-top: 10px;
        z-index:  99999;
        // display: none;
        @include mediaMaxWidth(1200px){
            display: none;
        }
        &.no-home{
            display: none;
        }
        .wrap-spacing{
            position: relative;
            .listItem{
                .itemLv1{
                    display: flex;
                    padding: 0 10px;
                    height: 63.6px;
                    align-items: center;
                    font-weight: bold;
                    position: relative;
                    transition: all 0.2s;
                    @include mediaMaxWidth(1650px){
                        height: 55.5px;
                    }
                    @include mediaMaxWidth(1440px){
                        height: 46.5px;
                        font-weight: 500;
                    }
                    @include mediaMaxWidth(1200px){
                        height: 44.5px;
                    }
                    &::after{
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 0px;
                        right: -19px;
                        z-index: 99999999;
                        display: none;
                    }
                    span{
                        &:first-child{
                            width: 29px;
                            margin-right: 11px;
                            @include mediaMaxWidth(1440px){
                                width: 17px;
                            }
                        }
                        &:nth-child(2){
                            @include mediaMaxWidth(1440px){
                                word-break: break-word;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }
                        }
                        img{
                            width: 25px;
                            height: auto;
                            @include mediaMaxWidth(1440px){
                                width: 17px;
                            }
                        }
                    }
                }
                &:hover{
                    .itemLv1{
                        color: #fff;
                        span{
                            img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
                &.isParent{
                    &:hover{
                        .itemLv1{
                            &::after{
                                display: block;
                            }
                            span{
                                img{
                                    filter: brightness(0) invert(1);
                                }
                            }
                        }
                        .wrapItemLv2{
                            pointer-events: unset;
                            visibility: visible;
                            opacity: 1;
                            left: 100%;
                        }
                    }
                }
                .wrapItemLv2{
                    width: calc((100% + 10px) * 4);
                    position: absolute;
                    top: 0;
                    left: calc(100% + 40px);
                    height: 100%;
                    padding: 30px 30px;
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;
                    transition: all 0.2s;
                    overflow: auto;
                    border-left: solid 1px #2772c3;
                    display: flex;
                    flex-wrap: wrap;
                    .wrapListCatlv2{
                        width: 25%;
                        .itemLv2{
                            display: block;
                            font-weight: bold;
                            color: #2772c3;
                            margin-bottom: 10px;
                        }
                        .wrapListCatLv3{
                            .itemLv3{
                                display: block;
                                margin-bottom: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}